#Configurar{
    height: 50%;
}

.config-header{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.config-body table{
    width: 75%;
}

.config-body table .table-dark{
    height: 1%;
}

.config-body{
    /*margin-top: 1em;*/
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.config-body label{
    margin: 0;
}

.config-body input, .config-body select{
    width: 58%;
}

.mb-3{
   margin-bottom: 0;
   display: flex;
   justify-content: space-between;

}

.table thead, .table tbody{
   text-align: center;

}