<section id="configurar">
  <div class="container mt-3">
    <h3 class="text-center">Configuración</h3>
    <div class="config-title">
      <button
        id="solapaProductos"
        class="btn btn-secondary"
        type="button"
        (click)="abrirColapsable(1)"
      >
        Productos
      </button>
      <button
        id="solapaProveedores"
        class="btn btn-secondary"
        type="button"
        (click)="abrirColapsable(2)"
      >
        Proveedores
      </button>
      <button
        id="solapaGastos"
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseIngresoProducto"
        aria-expanded="false"
        aria-controls="collapseGastos"
        (click)="abrirColapsable(3)"
      >
        Gastos
      </button>
    </div>
    <!--Colapsable Producto-->
    <div *ngIf="collapseProducto" class="config-body">
      <form [formGroup]="formulario">
        <div class="mb-3">
          <label for="tipoDeProducto" class="form-label"
            >Tipo de Producto</label
          >
          <select
            class="form-select"
            id="tipoDeProducto"
            formControlName="formProducto"
          >
            <option selected disabled value="">Seleccione Producto</option>
            <option *ngFor="let item of producto">{{ item }}</option>
          </select>
          <button
            id="btnproducto"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#productoModal"
            (click)=" recuperarId(1)"
          >
          <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        <div class="mb-3">
          <label id="idCodProd" for="codigoProducto" class="form-label"
            >Código del Producto</label
          >
          <input
            type="text"
            class="form-control"
            id="codigoProducto"
            formControlName="formCodProd"
          />
          <button
            id="btncod"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#codigoModal"
            (click)="generarCodigoDeBarras()"
          >
            <i class="fa-solid fa-print"></i>
          </button>
        </div>
        <div class="mb-3">
          <label for="marcaProducto" class="form-label">Marca</label>
          <select
            class="form-select"
            id="marcaProducto"
            formControlName="formMarca"
          >
            <option selected disabled value="">Seleccione Marca</option>
            <option *ngFor="let item of marca">{{ item }}</option>
          </select>
          <button
            id="btnmarca"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#marcaModal"
            (click)="recuperarId(2)"
          >
          <i class="fa-solid fa-plus"></i>
          </button>
        </div>
        <div class="mb-3">
          <label for="codigoDeBarrasProducto" class="form-label"
            >Código de Barras</label
          >
          <input
            type="text"
            class="form-control"
            id="codigoDeBarrasProducto"
            formControlName="formCodBarras"
          />
          <button id="btnbarras" type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#codeBar" (click)="iniciarScanner()">
            <i class="fa-solid fa-qrcode"></i>
          </button>
        </div>
        <div class="mb-3">
          <label for="imagenProducto" class="form-label">Imagen</label>
          <input
            type="file"
            class="form-control"
            id="imagenProducto"
            style="font-size: 0.8rem"
            formControlName="formImagen"
          />
        </div>
        <button
          id="btnAgregarProducto"
          type="submit"
          class="btn btn-primary"
          (click)="agregarAlListado()"
        >
        <i class="fa-solid fa-plus"></i>
        </button>
        <button
          id="btnEditarProducto"
          type="submit"
          class="btn btn-warning"
          (click)="editarRegistroSeleccionado()"
        >
        <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          id="btnBorrarProducto"
          type="submit"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#borrarModal"
        >
        <i class="fa-solid fa-trash-can"></i>
        </button>
        <button
          id="btnLimpiar"
          type="submit"
          class="btn btn-success"
          (click)="resetearModal(formulario,1)"
        >
        <i class="fa-solid fa-arrows-rotate"></i>
        </button>
      </form>
      <div id="TablaRegistro">
        <table class="table">
          <thead class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">Producto</th>
            <th scope="col">Marca</th>
            <th scope="col">Cod. Barras</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of registro">
              <td scope="row" id="CodProd">
                <a (click)="obtenerDatosSeleccion(item.id)">{{
                  item.codigoProducto
                }}</a>
              </td>
              <td scope="row">{{ item.nombreProducto }}</td>
              <td scope="row">{{ item.marcaProducto }}</td>
              <td scope="row" id="idCodBar">
                <a (click)="obtenerDatosSeleccion(item.id)">{{
                  item.barrasProducto
                }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Colapsable Proveedor-->
    <div *ngIf="collapseProveedor" class="config-body">
      <form [formGroup]="proveedores">
        <div class="mb-3">
          <label id="telefonoProveedor" for="telProveedor" class="form-label"
            >Proveedor</label
          >
          <input
            type="text"
            class="form-control"
            id="nombreProveedor"
            formControlName="formProveedor"
          />
        </div>
        <div class="mb-3">
          <label id="telefonoProveedor" for="telProveedor" class="form-label"
            >Telefono de Contacto</label
          >
          <input
            type="text"
            class="form-control"
            id="telProveedor"
            formControlName="formTelefono"
          />
        </div>
        <div class="mb-3">
          <label for="emailProveedor" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="emailProveedor"
            formControlName="formEmail"
          />
        </div>
        <button
          id="btnAgregarProveedor"
          type="submit"
          class="btn btn-primary"
          (click)="ingresarNuevoProveedor()"
        >
        <i class="fa-solid fa-plus"></i>
        </button>
        <button
          id="btnEditarProveedor"
          type="submit"
          class="btn btn-warning"
          (click)="editarProveedor()"
        >
        <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          id="btnBorrarProveedor "
          type="submit"
          class="btn btn-danger"
          (click)="borrarProveedor()"
        >
        <i class="fa-solid fa-trash-can"></i>
        </button>
      </form>
      <div id="TablaProveedores">
        <table class="table">
          <thead class="table-dark">
            <th scope="col">Proveedor</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaDeProveedores">
              <td scope="row" id="idProveedor">
                <a (click)="recuperarProveedor(item.id)">{{
                  item.nombreProveedor
                }}</a>
              </td>
              <td scope="row">{{ item.telefonoProveedor }}</td>
              <td scope="row">{{ item.emailProveedor }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Modales -->
<div
  class="modal fade"
  id="productoModal"
  tabindex="-1"
  aria-labelledby="tituloProducto"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tituloProducto">Nuevo Producto</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetearModal(ingresoProducto,0)"
        ></button>
      </div>
      <form [formGroup]="ingresoProducto">
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombreProductoNuevo" class="form-label"
              >Ingrese el nombre del Producto</label
            >
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="nombreProductoNuevo"
              formControlName="formNuevoProducto"
            />
          </div>
          <div class="advertencia" *ngIf="nuevoProducto?.invalid && nuevoProducto?.touched">
            <div class="advertencia" *ngIf="nuevoProducto?.errors?.['required']">
              Campo Vacio. Por favor Completar.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
          id="cerrarModalNuevoProducto"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetearModal(ingresoProducto,0)"
        >
        <i class="fa-solid fa-ban"></i>
        </button>
          <div class="registros">
          <button
            type="button"
            class="btn btn-primary"
            (click)="ingresarNuevoProducto()"
          >
          <i class="fa-solid fa-plus"></i>
          </button>
          <button
           *ngIf="!campoVacio"
            type="button"
            class="btn btn-warning"
            (click)="editarProductoOMarca(1)"
          >
          <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            *ngIf="!campoVacio"
            type="button"
            class="btn btn-danger"
            (click)="borrarProductoOMarca(1)"
          >
          <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="marcaModal"
  tabindex="-1"
  aria-labelledby="tituloMarca"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tituloMarca">Nueva Marca</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetearModal(ingresoMarca,0)"
        ></button>
      </div>
      <form [formGroup]="ingresoMarca">
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombreMarcaNueva" class="form-label"
              >Ingrese el nombre de la Marca</label
            >
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="nombreMarcaNueva"
              formControlName="formNuevaMarca"
            />
          </div>
          <div class="advertencia" *ngIf="nuevaMarca?.invalid && nuevaMarca?.touched">
            <div class="advertencia" *ngIf="nuevaMarca?.errors?.['required']">
              Campo Vacio. Por favor Completar.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
          id="cerrarModalNuevaMarca"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetearModal(ingresoMarca,0)"
        >
        <i class="fa-solid fa-ban"></i>
        </button>
          <div class="registros">
          <button
            type="button"
            class="btn btn-primary"
            (click)="ingresarNuevaMarca()"
          >
          <i class="fa-solid fa-plus"></i>
          </button>
          <button
            *ngIf="!campoVacio"
            type="button"
            class="btn btn-warning"
            (click)="editarProductoOMarca(2)"
          >
          <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            *ngIf="!campoVacio"
            type="button"
            class="btn btn-danger"
            (click)="borrarProductoOMarca(2)"
          >
          <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div
  class="modal fade"
  id="codigoModal"
  tabindex="-1"
  aria-labelledby="codigoDeProducto"
  aria-hidden="true"
><div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="codigoDeProducto">
          Codigo de Producto:
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div style="text-align: center">
          <img
            *ngIf="!campoVacio"
            id="imgCodProd"
            alt="Barcode Generator TEC-IT"
            [src]="urlCodBarras"
          />
          <h3 *ngIf="campoVacio">Error al cargar el codigo de Producto</h3>
          <p *ngIf="campoVacio">
            Por favor verifique que el campo correspondiente no se encuentra
            vacio e intente Nuevamente.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          id="cerrarModalCodigoDeBarras"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
        <i class="fa-solid fa-ban"></i>
        </button>
        <div class="registros">
        <button
          *ngIf="!campoVacio"
          id="btnImprimirCodigoDeProducto"
          type="button"
          class="btn btn-primary"
          (click)="imprimirCodigoDeProducto(urlCodBarras)"
        >
        <i class="fa-solid fa-print"></i>
        </button>
        <a *ngIf="!campoVacio" [href]="urlCodBarras"
          ><button
            id="btnGuardarCodigoDeProducto"
            type="button"
            class="btn btn-primary"
            (click)="guardarCodigoDeProducto()"
          >
          <i class="fa-solid fa-download"></i>
          </button></a
        >
      </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="borrarModal"
  tabindex="-1"
  aria-labelledby="BorrarProducto"
  aria-hidden="true"
><div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="BorrarProducto">
          Confirmar accion
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div style="text-align: center">
          <p>
            Borrar Registro Seleccionado?
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          id="cerrarModalEliminar"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
        <i class="fa-solid fa-ban"></i>
        </button>
        <button
          id="btnBorrarRegistroDeProducto"
          type="button"
          class="btn btn-danger"
          (click)="borrarRegistroSeleccionado()"
        >
        <i class="fa-solid fa-check"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"  id="codeBar">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Esperando Lectura..</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnCerrarBarCode"></button>
      </div>
      <form [formGroup]="lecturaCodeBar">
      <div class="modal-body text-center">
        <input type="text"  class="visually-hidden" id="hiddenCodeBar" formControlName="formCodeBar" (change)="leerScanner()">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        
      </div>
    </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-ban"></i></button>
      </div>
    </div>
  </div>
</div>
