#Stock{
    height: 50%;
}

.stock-body table{
    width: 100%;
}
.stock-body form{
    width: 40%;
}

.stock-body table .table-dark{
    height: 6%;
    background-color:#201f1f;
}

.stock-body{
    display: flex;
    gap: 1rem;
}

.stock-body label{
    margin: 0;
}

.stock-body input, .stock-body select{
    width: 58%;
}


.mb-3{
   margin-bottom: 0;
   display: flex;
   justify-content: space-between
}

.table thead, .table tbody{
   text-align: center;
   width: 100%;

}

#colGanancia, #colPorcentaje{
    cursor: pointer;
    text-decoration: underline;
}
.modalIngreso-body{
    margin-left: 1rem;
    display: flex;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
}

.registros{
    display: flex;
    gap:.5em;
}


#previewImage, #NopreviewImage{
    height: 16rem;
    width: 23rem;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}

.dtList{
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    background-color: #fff;
}

#TablaStock{
    height: 24rem;
    overflow: auto;
    width:100%;
    display: flex;
    justify-content: space-between;
}

thead th {
    position: sticky;
    top: 0;
    background: #201f1f;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #NopreviewImage{
    border : 2px solid red;
  }

  #previewImage{
    border : 2px solid green;
  }


  .table tbody tr:hover{
    cursor: pointer;
   background: rgba(127, 255, 212, 0.11);
}

.table tbody tr td{
    background: none;
}

.table tbody tr:hover :first-child{
   font-weight:550;
}

#agreeCodeBar2{
    margin-left: 1rem;
}